@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 30% 94%;
    --foreground: 232 23% 18%;
    --card: 0 0% 100%;
    --card-foreground: 232 23% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 232 23% 18%;
    --primary: 174 39% 69%;
    --primary-foreground: 232 23% 18%;
    --secondary: 199 45% 69%;
    --secondary-foreground: 232 23% 18%;
    --muted: 228 20% 65%;
    --muted-foreground: 232 23% 18%;
    --accent: 21 86% 73%;
    --accent-foreground: 232 23% 18%;
    --destructive: 351 74% 73%;
    --destructive-foreground: 232 23% 18%;
    --border: 231 22% 49%;
    --input: 229 24% 41%;
    --ring: 199 45% 69%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 232 23% 18%;
    --foreground: 227 70% 87%;
    --card: 232 23% 18%;
    --card-foreground: 227 70% 87%;
    --popover: 232 23% 18%;
    --popover-foreground: 227 70% 87%;
    --primary: 174 39% 69%;
    --primary-foreground: 232 23% 18%;
    --secondary: 199 45% 69%;
    --secondary-foreground: 227 70% 87%;
    --muted: 228 20% 57%;
    --muted-foreground: 227 70% 87%;
    --accent: 21 86% 73%;
    --accent-foreground: 227 70% 87%;
    --destructive: 351 74% 73%;
    --destructive-foreground: 227 70% 87%;
    --border: 231 22% 49%;
    --input: 229 24% 41%;
    --ring: 199 45% 69%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #24273a; /* Base color */
}

::-webkit-scrollbar-thumb {
  background: #8bd5ca; /* Teal color */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7dc4e4; /* Sapphire color */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #8bd5ca #24273a;
}

/* For Edge and IE */
*::-ms-scrollbar {
  width: 12px;
}

*::-ms-scrollbar-track {
  background: #24273a;
}

*::-ms-scrollbar-thumb {
  background-color: #8bd5ca;
  border-radius: 6px;
}